altgraph==0.17.4
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
cx_Freeze==7.2.2
cx_Logging==3.2.0
dnspython==2.6.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
lief==0.15.1
mutagen==1.47.0
packaging==24.1
pefile==2024.8.26
pycryptodomex==3.20.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.1.0
urllib3==2.2.3
websockets==13.1
yt-dlp==2024.8.6